@model MeuClass.Data.User

<div class="panel panel-default">
    <div class="panel-body">
        <div>name : @Model.Name @Model.Surname</div>
        <p>Type :@Model.UserType.UserTypeName</p>
    </div>
</div>
