#leftmenu {
    &-container {
        ul {
            li {
                text-align: center;
                text-transform: uppercase;
                a {
                    text-align: center;
                    &:hover {
                        color:$leftmenu-hover-color;
                        background-color: $leftmenu-hover-background;
                    }
                    padding: 20px;
                    font-family: $font-barlow;
                    
                    color:$leftmenu-color;
                    i {
                       display:block;
                    }
                }
            }
        }
    }
}

