#leftmenu {
    &-container {
        ul {
            li {
                text-transform: uppercase;
                a {
                    &:hover {
                        color:$leftmenu-hover-color;
                        background-color: $leftmenu-hover-background;
                    }
                    padding: 20px;
                    font-family: $font-barlow;
                    font-size:18px;
                    color:$leftmenu-color;
                    i {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
