.button {
    border-radius: 2px;
    color: #000000;
    background-color: #dbdbdb;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
        background-color: #35BECC;
        text-decoration: none;
    }
}

.input-text {
    border: none;
    height: $input-text-height;
    padding-left: 10px;
    &::placeholder {
        color: black;
        opacity: 0.7;
    }
}

.myPanel{
    margin-bottom:$gutter;
    border:1px solid #E0E0E0;
}