//WIDTH
$max-width:1140px;

//HEİGHT
$input-text-height:35px;
$navbar-height:50px;

$font-barlow:'Barlow Semi Condensed', sans-serif;

//COLOR
$navbar-color:#3498DB;
$header-backgroundcolor:#F23E16;
$twitter-color:#1da1f2;
$facebook-color:#3b5998;
$instagram-color:#e1306c;
$light-blue:#3498DB;




//LEFTMENU
$leftmenu-color:#3498DB;
$leftmenu-hover-color:white;
$leftmenu-hover-background:#3498DB;


//FRIENDS
$friends-panel-info:grey;

//GLOBAL
$finger-size:30px;
$border-radius: 3px;
$font-size:16px;
$gutter:20px;
$button-gutter:20px;

//CLASS
.mar-0{
    margin:0 !important;
}

.mart-0{
    margin-top:0 !important;
}

.marr-0{
    margin-right:0 !important;
}

.marb-0{
    margin-bottom:0 !important;
}

.pad-0{
    padding:0 !important;
}

.padt-0{
    padding-top:0 !important;
}

.padr-0{
    padding-right:0 !important;
}

.padb-0{
    padding-bottom:0 !important;
}

.padl-0{
    padding-left:0 !important;
}

.border{
    border:1px solid black;
}

.container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.radius-0{
    border-radius: 0px !important;
}

.bg-light-blue{
    background-color:$light-blue !important;
}

.white-text{
    color:white !important;
}
