//WIDTH
$max-width:1140px;

//HEİGHT
$input-text-height:35px;
$navbar-height:50px;

//COLOR
$navbar-color:black;
$header-backgroundcolor:#F23E16;
$twitter-color:#1da1f2;
$facebook-color:#3b5998;
$instagram-color:#e1306c;

//GLOBAL
$finger-size:30px;
$border-radius: 3px;
$font-size:16px;
$gutter:20px;
$button-gutter:20px;