 @{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="col-sm-12">
    <div class="panel panel-default shareBox">
        <div class="panel-body ">
            <div class="shareBox-Left col-sm-1">
                <div class="shareBoxUserInfoImage">
                    <img src="/Content/img/users/noImage.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="shareBox-Right col-sm-11">
                <div class="shareBox-Name col-sm-12">
                    <span>
                        <a href="">Furkan Bayram</a> tarafından
                        <a href="">Sinir Ağları</a>'na</span>
                </div>
                <div class="shareBox-ShareInfo col-sm-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugiat eaque, sit nostrum incidunt laudantium totam cupiditate
                    eveniet in nobis doloribus iure, delectus numquam consequatur rerum veniam aspernatur suscipit earum.
                </div>
            </div>
            <div class="shareBox-Operations col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <ul class="col-sm-12">
                        <li>
                            <a href="">Beğen -</a>
                        </li>
                        <li>
                            <a href="">Yorum yap -</a>
                        </li>
                        <li>
                            <a href="">Paylaş -</a>
                        </li>
                        <li>
                            <a href="">Bildirimleri Aç -</a>
                        </li>
                        <li style="opacity:0.7;">24 Mayıs 2018, 15:40</li>

                    </ul>
                </div>
            </div>
            <div class="shareBox-Comments col-sm-12">
                <div class="col-sm-1">
                    <div class="shareBoxUserInfoImage">
                        <img src="/Content/img/users/noImaage.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-11">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cevap yaz..">
                        </div>

                        <div class="form-group">

                            <button type="submit" class="btn btn-default">Cevapla</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-default shareBox">
            <div class="panel-body ">
                <div class="shareBox-Left col-sm-1">
                    <div class="shareBoxUserInfoImage">
                        <img src="/Content/img/users/noImage.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="shareBox-Right col-sm-11">
                    <div class="shareBox-Name col-sm-12">
                        <span>
                            <a href="">Furkan Bayram</a> tarafından
                            <a href="">Sinir Ağları</a>'na</span>
                    </div>
                    <div class="shareBox-ShareInfo col-sm-12">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugiat eaque, sit nostrum incidunt laudantium totam cupiditate
                        eveniet in nobis doloribus iure, delectus numquam consequatur rerum veniam aspernatur suscipit earum.
                    </div>
                </div>
                <div class="shareBox-Operations col-sm-12">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <ul class="col-sm-12">
                            <li>
                                <a href="">Beğen -</a>
                            </li>
                            <li>
                                <a href="">Yorum yap -</a>
                            </li>
                            <li>
                                <a href="">Paylaş -</a>
                            </li>
                            <li>
                                <a href="">Bildirimleri Aç -</a>
                            </li>
                            <li style="opacity:0.7;">24 Mayıs 2018, 15:40</li>
    
                        </ul>
                    </div>
                </div>
                <div class="shareBox-Comments col-sm-12">
                    <div class="col-sm-1">
                        <div class="shareBoxUserInfoImage">
                            <img src="/Content/img/users/noImaage.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cevap yaz..">
                            </div>
    
                            <div class="form-group">
    
                                <button type="submit" class="btn btn-default">Cevapla</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="panel panel-default shareBox">
                <div class="panel-body ">
                    <div class="shareBox-Left col-sm-1">
                        <div class="shareBoxUserInfoImage">
                            <img src="/Content/img/users/noImage.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="shareBox-Right col-sm-11">
                        <div class="shareBox-Name col-sm-12">
                            <span>
                                <a href="">Furkan Bayram</a> tarafından
                                <a href="">Sinir Ağları</a>'na</span>
                        </div>
                        <div class="shareBox-ShareInfo col-sm-12">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugiat eaque, sit nostrum incidunt laudantium totam cupiditate
                            eveniet in nobis doloribus iure, delectus numquam consequatur rerum veniam aspernatur suscipit earum.
                        </div>
                    </div>
                    <div class="shareBox-Operations col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <ul class="col-sm-12">
                                <li>
                                    <a href="">Beğen -</a>
                                </li>
                                <li>
                                    <a href="">Yorum yap -</a>
                                </li>
                                <li>
                                    <a href="">Paylaş -</a>
                                </li>
                                <li>
                                    <a href="">Bildirimleri Aç -</a>
                                </li>
                                <li style="opacity:0.7;">24 Mayıs 2018, 15:40</li>
        
                            </ul>
                        </div>
                    </div>
                    <div class="shareBox-Comments col-sm-12">
                        <div class="col-sm-1">
                            <div class="shareBoxUserInfoImage">
                                <img src="/Content/img/users/noImaage.png" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cevap yaz..">
                                </div>
        
                                <div class="form-group">
        
                                    <button type="submit" class="btn btn-default">Cevapla</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        
            </div>
</div>