@{ Layout = "~/Views/Shared/DoLogin.cshtml"; } @if (ViewBag.Error != null) {
<script type="text/javascript">
    alert("@ViewBag.Error");
</script>
}



<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Mersin Üniversitesi
            </a>
        </div>

        @using (Html.BeginForm("DoLogin", "Home", FormMethod.Post, new { @class = "navbar-form navbar-right girisFormu " })) {
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="SchoolNumber" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <input type="password" class="form-control" placeholder="Şifre" name="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </div>
        }
    </div>
</nav>
<section>
    <div class="anasayfaIcerik">
        <div class="container">
            <div class="row">

                <div class="col-md-6 girisYazisi rounded">
                    <h1 class="mt-5">Mersin Üniversitesi Platformu</h1>
                    <p>
                        Öğrenciler ve öğretmenler arasında yeni bir sosyal platform. Tek yapmanız gereken öğrenci numaranız ile kaydolup profilinizi
                        oluşturmak.
                    </p>
                    <img src="~/Content/img/login-img.png" />
                </div>
                <div class="col-md-6 kayitFormu">
                    @using (Html.BeginForm("DoRegister", "Home", FormMethod.Post, new { @class = "mt-5",@id="registerform", @onsubmit="return formControl()" })) {
                    <h3 class="display-4">Üye Ol</h3>
                    <div class="form-group row">

                        <div class="col">
                            <input  type="text" class="form-control" id="ad" name="Name" placeholder="Adı">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col">
                            <input  type="text" class="form-control" id="soyad" name="Surname" placeholder="Soyadı">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col">
                            <input  type="email" class="form-control" id="okulnumarasi" name="Email" placeholder="E-Posta Adresi">
                        </div>
                    </div>
                        <div class="form-group row">

                            <div class="col">
                                <input  type="password" class="form-control" id="sifre" name="Password" placeholder="Şifre">
                            </div>
                      
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <input  type="password" class="form-control" id="sifreConfirm"  placeholder="Şifre Tekar">
                            </div>
                        </div> 

                    
                    <div class="form-group row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary float-right">Kaydol</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function formControl() {
        if ($('#sifre').val() != $('#sifreConfirm').val()) {
            alert("Şifreler Uyuşmuyor");
            return false;

        }
    }
</script>