<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/LoginMain.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Giriş Sayfası</title>
</head>

<body>
    <section class="loginPage">
        @RenderBody()
    </section>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="~/Content/js/style.js"></script>
</body>

</html>