.friends {
    padding: 0 !important;
    .panel {
        border-radius: 0;
    }
    &-info {
        span {
            color: grey;
            font-size: 11px;
        }
    }
    &-batin {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}