.lessonbox {
    h5{
        font-weight: bold;
        margin-top:5px;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
.panel-body{
    height:100px;
}

    .panel-footer{
        display: flex;
        justify-content: flex-end;
        i{
            margin-left:5px;
            margin-right:5px;
        }
    }
}