.friends {
    padding: 0 !important;
    .panel {
        border-radius: 0;
    }
    &-info {
        span {
            color: $friends-panel-info;
            font-size: 11px;
        }
    }
    &-button {
        margin-top: $gutter;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.shareButton {
    &-button {
        background-color: grey;
        font-size:18px;  
    }
}