@{ Layout = "~/Views/Shared/View.cshtml"; }

    <div class="myPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Genel</h3>
    </div>
    <div class="panel-body">

        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Doğum Tarihi:</td>
                    <td>18 Temmuz</td>
                </tr>

                <tr>
                    <td>Cinsiyet</td>
                    <td>Erkek</td>
                </tr>
                <tr>
                    <td>E-mail Adresi</td>
                    <td>sefikfurkanbayram@gmail.com</td>
                </tr>
                <tr>
                    <td>Kayıt Olma Tarihi:</td>
                    <td>18/11/2017</td>
                </tr>
                <tr>
                    <td>Son Oturum Açma Tarihi</td>
                    <td>3 Saat Önce</td>
                </tr>
                <td>Telefon Numarası</td>
                <td>0546 545 96 34
                </td>


            </tbody>
        </table>
    </div>
</div>

<div class="myPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Eğitim</h3>
    </div>
    <div class="panel-body">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Lise:</td>
                    <td>Mustafakemalpaşa Kız Teknik ve Meslek Lisesi - BURSA</td>
                </tr>

                <tr>
                    <td>Lisedeki Bölümü:</td>
                    <td>Bilgisayar Teknolojileri ( Veri Tabanı )</td>
                </tr>
                <tr>
                    <td>Üniversite:</td>
                    <td>Mersin Üniversitesi</td>
                </tr>
                <tr>
                    <td>Sınıfı:</td>
                    <td>4. Sınıf</td>
                </tr>
                <tr>
                    <td>Bölümü:</td>
                    <td>Bilgisayar Teknolojisi ve Bilişim Sistemleri</td>
                </tr>
                <td>Yerleşke:</td>
                <td>Erdemli UTİYO</td>


            </tbody>
        </table>
    </div>
</div>

<div class="myPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Deneyim - İş</h3>
    </div>
    <div class="panel-body">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>2017</td>
                    <td>NET HAREKET REKLAM AJANSI - Frontend Developer (2 Ay)</td>
                </tr>

                <tr>
                    <td>2016</td>
                    <td>TELPA TELEKOMİNİKASYON A.Ş. - Stajyer .NET Developer (3 Ay)</td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>CHAPA BİLGİSAYAR - Teknik Servis Elamanı (1 Yıl 3 Ay)</td>
                </tr>
                <tr>
                    <td>2014</td>
                    <td>TAT KONSERVE SANAYİ A.Ş. - Bilgi Teknolojileri Stajyeri (10 Ay)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>