@{ Layout = "~/Views/Shared/View.cshtml"; }

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 friends">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="/Content/img/profile.jpg" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-info">
                <h5><a href="#">Şefik Furkan Bayram</a></h5>
                <span>34 Ortak Arkadaş</span>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-button">
               <button class="btn btn-default">Arkadaş Ekle</button>
            </div>
        </div>
    </div>
</div>

