@{ Layout = "~/Views/Shared/View.cshtml"; }

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 friends">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="/Content/img/lesson/gpg.png" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-info">
                <h5><a href="#">BTS203</a></h5>
                <span>Görsel Programlamaya Giriş</span>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-button">
               <button class="btn btn-default">Derse Git</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 friends">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="/Content/img/lesson/gpg.png" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-info">
                <h5><a href="#">BTS203</a></h5>
                <span>Görsel Programlamaya Giriş</span>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-button">
               <button class="btn btn-default">Derse Git</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 friends">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="/Content/img/lesson/gpg.png" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-info">
                <h5><a href="#">BTS203</a></h5>
                <span>Görsel Programlamaya Giriş</span>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-button">
               <button class="btn btn-default">Derse Git</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 friends">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="/Content/img/lesson/gpg.png" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-info">
                <h5><a href="#">BTS203</a></h5>
                <span>Görsel Programlamaya Giriş</span>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-button">
               <button class="btn btn-default">Derse Git</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 friends">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="/Content/img/lesson/gpg.png" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-info">
                <h5><a href="#">BTS203</a></h5>
                <span>Görsel Programlamaya Giriş</span>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 friends-button">
               <button class="btn btn-default">Derse Git</button>
            </div>
        </div>
    </div>
</div>
