
<div class="col-lg-12 col-sm-12 padl-0 padr-0 border">

    <div class="col-md-12 padr-0 padl-0">

        <div class="lesson-cover">
            <div class="lesson-cover-image">
                <img src="/Content/img/lesson/lessonprofile.jpg" class="img-responsive" alt="">
            </div>
            <div class="lesson-cover-title">
                <div class="lesson-cover-title-code"> BTS312 </div>
                <div class="lesson-cover-title-name"> Görsel Programlamaya Giriş </div>
            </div>
            <div class="lesson-cover-buttons">
                <button type="button" class="btn btn-info btn-sm">Derse Katıl</button>
                <button type="button" class="btn btn-info btn-sm">Mesaj Yaz</button>
            </div>

        </div>
    </div>
</div>



<div style="margin-top:20px;" class="col-xs-12 padl-0 padr-0">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padl-0 ">
        <div class="panel panel-default friends">
            <div class="panel-body">
                <span>Teslim tarihi yaklaşan ödeviniz bulunmamaktadır.</span>
                <div class="friends-button">
                    <button class="button">Tüm Ödevleri Görüntüle</button>
                </div>
            </div>
        </div>
        <div class="myPanel">
            <div class="panel-body">
                <span>Açılmış konu yok.</span>
                <div class="friends-button">
                    <button class="button">Tüm Konuları Görüntüle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padr-0 ">
        <div class="myPanel radius-0">
            <div class="panel-body">

                <div class="col-xs-12 lesson-top padl-0 padr-0">
                    <div class="lesson-top-icon">
                        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="lesson-top-image">
                        <img src="/Content/img/lesson/lessonprofile.jpg" class="img-responsive img-circle img-thumbnail" alt="">
                        <span>Hürol Aslan
                            <strong>28 Aralık</strong>
                        </span>

                    </div>

                    <div class="lesson-top-status">
                        <span>TAMAMLANDI
                            <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
                        </span>

                    </div>
                </div>

                <div class="col-xs-12 lesson-content">
                    <div class="lesson-content-date">
                        <span>Teslim tarihi: 02 Ocak 2018</span>
                    </div>
                    <h4 class="lesson-content-lname">Form Uygulaması</h4>
                    <span>Her öğrenci ara sınavda tanıttığı projenin
                        <br> 1) Gereksinimler analizini (müşteri gereksinimlerinin ne olacağını öngören, maddelere ayrılmış bir
                        liste),
                        <br> 2) Oluşturulacak yazılım sisteminin tasarımını (yazılımın hangi platformda, ne tür teknolojilerle
                        oluşturulacağını ve birimlerin nasıl etkileşeceğini belirten açıklamalar),
                        <br> 3) Sistemin üzerinde çalışacağı ve yararlanacağı donanımı (donanım birimlerini, çalışma şekillerini
                        ve nasıl kullanılacaklarını belirten açıklamalar),
                        <br>4) Projenin geliştirme yöntemini (hangi yöntemle ve hangi adımlarla, ne şekilde gerçekleştirileceğini
                        ve uyarlanacağını belirten açıklamalar),
                        <br>5) Risk analizini (son kullanıcıların bilgi eksikliği, beklenmedik kullanımlar, izinsiz girişler,
                        vb. nedenlerle doğacak riskler ve nasıl önlemler alacağınızı belirten açıklamalar), uygun başlık
                        ve alt başlıklar altında, düzenli bir sunum belgesini pdf formatında (başka formatlar kabul edilmeyecektir!)
                        belirtilen gün ve saate kadar bu ödev sitesi üzerinden teslim (diğer teslimatlar kabul edilmeyecektir!)
                        edecektir. AÇ 9 sınıf yorumu var
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>