<div class="col-lg-12 col-sm-12 padl-0 padr-0">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lessonbox">
        <div class="panel panel-default radius-0">
            <div class="panel-heading">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a href="#">
                        <h3>BTS312</h3>
                    </a>
                    <h5>Hürol Aslan</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  lessonbox-icon">
                    <a href="#">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <a href="#">Dersin içeriğini görmek için tıklayınız.</a>
            </div>
            <div class="panel-footer">
                <a href="#" title="Sınıfı Görmek İçin Tıklayınız">
                    <i class="fa fa-address-card-o fa-" aria-hidden="true" aria-placeholder="asdsa"></i>
                </a>
                <a href="#" title="Ödev Eklemek İçin Tıklayınız">
                    <i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lessonbox">
        <div class="panel panel-default radius-0">
            <div class="panel-heading">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a href="#">
                        <h3>BTS205</h3>
                    </a>
                    <h5>Jale Bektaş</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  lessonbox-icon">
                    <a href="#">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <a href="#">Dersin içeriğini görmek için tıklayınız.</a>
            </div>
            <div class="panel-footer">
                <a href="#" title="Sınıfı Görmek İçin Tıklayınız">
                    <i class="fa fa-address-card-o fa-" aria-hidden="true" aria-placeholder="asdsa"></i>
                </a>
                <a href="#" title="Ödev Eklemek İçin Tıklayınız">
                    <i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lessonbox">
        <div class="panel panel-default radius-0">
            <div class="panel-heading">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a href="#">
                        <h3>BTS406</h3>
                    </a>
                    <h5>Evrim Ersin Kangal</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 lessonbox-icon">
                    <a href="#">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <a href="#">Dersin içeriğini görmek için tıklayınız.</a>
            </div>
            <div class="panel-footer">
                <a href="#" title="Sınıfı Görmek İçin Tıklayınız">
                    <i class="fa fa-address-card-o fa-" aria-hidden="true" aria-placeholder="asdsa"></i>
                </a>
                <a href="#" title="Ödev Eklemek İçin Tıklayınız">
                    <i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lessonbox">
        <div class="panel panel-default radius-0">
            <div class="panel-heading">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a href="#">
                        <h3>BTS201</h3>
                    </a>
                    <h5>Mehmet Zile</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  lessonbox-icon">
                    <a href="#">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <a href="#">Dersin içeriğini görmek için tıklayınız.</a>
            </div>
            <div class="panel-footer">
                <a href="#" title="Sınıfı Görmek İçin Tıklayınız">
                    <i class="fa fa-address-card-o fa-" aria-hidden="true" aria-placeholder="asdsa"></i>
                </a>
                <a href="#" title="Ödev Eklemek İçin Tıklayınız">
                    <i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lessonbox">
        <div class="panel panel-default radius-0">
            <div class="panel-heading">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a href="#">
                        <h3>BTS341</h3>
                    </a>
                    <h5>Hürol Aslan</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  lessonbox-icon">
                    <a href="#">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <a href="#">Dersin içeriğini görmek için tıklayınız.</a>
            </div>
            <div class="panel-footer">
                <a href="#" title="Sınıfı Görmek İçin Tıklayınız">
                    <i class="fa fa-address-card-o fa-" aria-hidden="true" aria-placeholder="asdsa"></i>
                </a>
                <a href="#" title="Ödev Eklemek İçin Tıklayınız">
                    <i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>