
<div class="content-left">
    <div class="panel panel-default about">
        <div class="panel-body">
            <div class="content-left-profile">
                <div class="col-sm-12">
                <img style="" src="/Content/img/profile.jpg" alt="" class="img-thumbnail img-circle"></div>
                
                <div class="content-left-profile-follow ">
                    <button class="btn btn-default">Takip Et</button>
                    <button class="btn btn-default">Mesaj Yaz</button>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default about">
        <div class="panel-heading">
            <h3 class="panel-title">Profil Bilgileri</h3>
        </div>
        <div class="panel-body">
            <div class="about-content">
                <h5>ID</h5>
                <span>@ViewBag.ID</span>
            </div>
            <div class="about-content">
                <h5>E-mail</h5>
                <span>sefikfurkanbayram@gmail.com</span>
            </div>
            <div class="about-content">
                <h5>Doğum Tarihi</h5>
                <span>18 Temmuz</span>
            </div>
            <div class="about-content">
                <h5>Bölüm</h5>
                <span>Bilgisayar Teknolojisi ve Bilişim Sistemleri</span>
            </div>
            <div class="about-content">
                <h5>Sınıf</h5>
                <span>4. Sınıf</span>
            </div>
        </div>
    </div>

    <div class="panel panel-default about">
        <div class="panel-heading">
            <h3 class="panel-title">Diğer Sosyal Ağlar</h3>
        </div>
        <div class="panel-body">
            <button style="background-color:#3b5998; color:white;" type="button" class="btn btn-block">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </button>
            <button style="background-color:#1da1f2; color:white;" type="button" class="btn   btn-block">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </button>
            <button style="background-color:#e1306c; color:white;" type="button" class="btn btn-block">
                <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </button>
        </div>
    </div>
</div>